# folders
.coverage_artifacts/
.coverage_cache/
.coverage_contracts/
artifacts/
build/
cache/
coverage/
dist/
lib/
node_modules/
typechain/
profiles/
bytecodes/
corpus/
crytic-export/
.openzeppelin/
deployments/development
deployments/hardhat
out/
ignition/deployments/chain-test
test/changers/multiCollateralUpgrade/fixtures/deployed-addresses.json
ignition/modules/changers/multiCollateralUpgrade/parameters/full-rskMainnet.json


# files
*.env
*.log
*.tsbuildinfo
coverage.json
npm-debug.log*
